*{
    padding:0px;
    margin:0px;
}
.container {
    display: flex;
    max-width: 900px;
    margin: 50px auto;
    height:100vh;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.image{
    margin-top:5px;
    margin-bottom:15px;
    width: 250px;
    height: 250px;
    border-radius:360px;
    border:1px solid rgb(3, 73, 119);
    overflow: hidden;
}

.image img{
  position:relative;
  width:250px;
  
}
.image-container{
    display: flex;
    justify-content:center;
}
.sidebar {
    flex: 1;
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    margin-right:20px;
  }
  .sidebar_r{
    padding-top:50px;

  }
.section {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 0;
}

p {
    margin-bottom: 5px;
    
}
